.App {
  text-align: center;
  /* border: 1px solid red;  */
  padding-top: 3%;
}
.container{
  border: 1px solid rgb(161, 159, 159); 
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
input{
  height:15px;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  margin-top: 10px;
}
button{
  height:35px;
  width:20%;
  background-color: black;
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 10px;
}
.desc{
  /* border: 1px solid red; */
  
  line-height: 1.5;
  font-size: 20px;
}
.desc img{
  width: 40%;
}